$bg-color: #EDF2EC
$nav-color: #010201
$orange-color: #E06733
$green-color: #499A18
$light-grey-color: #717171
$dark-grey-color: #636060

*
    box-sizing: border-box
    margin: 0
    padding: 0


a 
    color: black
    text-decoration: none
li
    list-style-type: none
nav

.green
    color: $green-color

.container
    position: relative
    max-width: 1140px
    margin: 0 auto

.button 
    display: flex
    align-items: center
    justify-content: center
    border: 1px solid $orange-color 
    border-radius: 5px
    width: 161px
    height: 50px
    &:hover
        background-color: $orange-color
        color: white

.header
    background-color: $bg-color
    display: flex
    justify-content: center
    align-items: center
    min-height: 134px
    &__navbar
        display: flex
        justify-content: space-between
        align-items: center
        height: 50px
        width: 1220px
    &__logo
        display: flex
        flex-direction: row
        align-items: flex-end
    &__nav-list
        display: flex
        flex-direction: row
        align-items: center
    &__logo-text
        font-size: 16px
    &__list-item
        font-size: 16px
        margin-right: 46px
        &:last-child
            margin-right: 0
        a
            color: $nav-color
            &:hover
                color: $orange-color
        
            
.welcome
    background: $bg-color
    min-height: 532px
    padding-top: 63px
    &__content-container
        min-width: 1222px
        display: flex
        justify-content: space-between
    &__text-container
        width: 549px
        height: 340px
    &__header
        font-size: 45px
        line-height: 50px
        color: $light-grey-color
        margin-bottom: 42px
    &__text
        max-width: 525.44px
        color: $dark-grey-color
        font-size: 20px
        line-height: 35px
        margin-bottom: 48px
    &__button
        background-color: $bg-color
        border: 2px solid $orange-color 
        border-radius: 10px
        font-size: 16px
        width: 158px
        height: 44px
        
.about
    min-height: 666px
    padding-top: 93px
    &__content-container
        display: flex
        justify-content: space-between
        align-items: center
    &__text-container
        width: 605px
        height: 350px
    &__header
        max-width: 463px
        font-size: 40px
        color: $orange-color
        margin-bottom: 40px
    &__text
        line-height: 30px
        font-size: 20px
        color: $dark-grey-color

.service
    background-color: $bg-color
    min-height: 1300px
    padding-top: 40px
    &__header-bar
        display: flex
        justify-content: space-between
        align-items: center
    &__header
        font-size: 40px
        width: 306px
        color: $green-color
    &__buttons-bar
        display: flex
    &__button
        color: $orange-color
        font-size: 20px
        background-color: $bg-color
        margin-right: 38px
        &:last-child
            margin-right: 0