/* line 10, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 16, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
a {
  color: black;
  text-decoration: none;
}

/* line 19, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
li {
  list-style-type: none;
}

/* line 23, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.green {
  color: #499A18;
}

/* line 26, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.container {
  position: relative;
  max-width: 1222px;
  margin: 0 auto;
}

/* line 31, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E06733;
  border-radius: 5px;
  background-color: transparent;
  width: 161px;
  height: 50px;
}

/* line 40, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.button:hover {
  background-color: #E06733;
  color: white;
}

/* line 44, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.header {
  background-color: #EDF2EC;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 134px;
}

/* line 50, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 1220px;
}

/* line 56, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.header__logo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

/* line 60, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.header__nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* line 64, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.header__logo-text {
  font-size: 16px;
  line-height: 11px;
}

/* line 67, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.header__list-item {
  font-size: 16px;
  margin-right: 46px;
}

/* line 70, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.header__list-item:last-child {
  margin-right: 0;
}

/* line 72, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.header__list-item a {
  color: #010201;
}

/* line 74, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.header__list-item a:hover {
  color: #E06733;
}

/* line 78, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.welcome {
  background: #EDF2EC;
  min-height: 532px;
  padding-top: 62px;
}

/* line 82, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.welcome__content-container {
  min-width: 1222px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 87, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.welcome__text-container {
  width: 549px;
  height: 340px;
}

/* line 90, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.welcome__header {
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  margin-bottom: 42px;
}

/* line 95, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.welcome__text {
  max-width: 525.44px;
  color: #636060;
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 48px;
}

/* line 101, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.welcome__button {
  border: 2px solid #E06733;
  border-radius: 10px;
  font-size: 16px;
  width: 158px;
  height: 44px;
}

/* line 108, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.about {
  min-height: 666px;
  padding-top: 93px;
}

/* line 111, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.about__content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 115, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.about__text-container {
  width: 605px;
  height: 350px;
}

/* line 118, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.about__header {
  max-width: 463px;
  font-size: 40px;
  color: #E06733;
  margin-bottom: 40px;
}

/* line 123, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.about__text {
  line-height: 30px;
  font-size: 20px;
  color: #636060;
}

/* line 128, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.service {
  background-color: #EDF2EC;
  min-height: 1300px;
  padding-top: 40px;
}

/* line 132, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.service__header-bar {
  max-width: 1007px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}

/* line 138, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.service__header {
  font-size: 40px;
  width: 306px;
  color: #499A18;
}

/* line 142, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.service__buttons-bar {
  display: flex;
}

/* line 144, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.service__button {
  color: #E06733;
  font-size: 20px;
  margin-right: 38px;
}

/* line 148, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.service__button:last-child {
  margin-right: 0;
}

/* line 150, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.service__services {
  height: 955px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

/* line 156, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.service__service-card {
  width: 330px;
}

/* line 158, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.service__text-container {
  padding-top: 10px;
  width: 330px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
}

/* line 167, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.service__card-img {
  display: block;
  width: 330px;
  border-radius: 20px 20px 0px 0px;
}

/* line 171, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.service__card-header {
  color: #E06733;
  font-size: 20px;
  margin-bottom: 10px;
}

/* line 175, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.service__card-text {
  color: #717171;
  font-size: 16px;
}

/* line 179, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.prices {
  padding-top: 40px;
  min-height: 560px;
}

/* line 182, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.prices__content-container {
  height: 405px;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
}

/* line 187, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.prices__content-container img {
  display: flex;
  align-self: flex-end;
}

/* line 191, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.prices__price-box {
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  width: 332px;
  height: 282px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 199, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.prices__item-box {
  height: 214px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* line 204, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.prices__item {
  padding: 16px 40px;
  background-color: #EDF2EC;
  border-radius: 20px;
  width: 250px;
  height: 50px;
}

/* line 210, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.prices__item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  height: 18px;
}

/* line 216, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.prices__header1 {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 60px;
}

/* line 220, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.prices__header2 {
  text-align: right;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 38px;
}

/* line 225, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.prices__text-container {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  width: 459px;
  margin-bottom: 39px;
}

/* line 231, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.prices__button {
  color: #E06733;
  font-size: 20px;
}

/* line 235, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.contacts {
  min-height: 550px;
  background-color: #EDF2EC;
  padding-top: 53px;
}

/* line 240, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.contacts__content-container img {
  position: absolute;
}

/* line 242, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.contacts__city-selector {
  position: absolute;
  top: 95px;
  right: 0;
}

/* line 246, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.contacts__dropdown {
  position: relative;
}

/* line 248, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.contacts__dropdown::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 35px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  display: block;
  background: url("../icons/accordion_btn-dark.svg") no-repeat right;
  pointer-events: none;
}

/* line 259, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.contacts__select {
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 450px;
  height: 50px;
  padding: 5px 35px 5px 20px;
  background-color: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 20px;
  line-height: 40px;
  color: #717171;
}

/* line 276, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.contacts__header {
  color: #499A18;
  font-size: 40px;
  position: absolute;
  top: 7px;
  right: 50%;
  transform: translate(50%, 0);
}

/* line 284, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.footer {
  min-height: 130px;
}

/* line 286, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.footer__content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 130px;
}

/* line 291, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.footer__data {
  font-size: 20px;
  line-height: 50px;
  word-spacing: 20px;
  display: flex;
}

/* line 296, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.footer__name {
  font-size: 20px;
  line-height: 50px;
}

/* line 299, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.footer__social-list {
  height: 50px;
  display: flex;
  align-items: center;
}

/* line 303, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.footer__social-list a {
  padding-right: 20px;
}

/* line 305, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.footer__social-list a:last-child {
  padding-right: 0;
}

/*# sourceMappingURL=style.css.map */