/* line 8, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 14, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
a {
  color: black;
  text-decoration: none;
}

/* line 17, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
li {
  list-style-type: none;
}

/* line 21, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.green {
  color: #499A18;
}

/* line 24, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.container {
  position: relative;
  max-width: 1222px;
  margin: 0 auto;
}

/* line 29, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E06733;
  border-radius: 5px;
  width: 161px;
  height: 50px;
}

/* line 37, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.button:hover {
  background-color: #E06733;
  color: white;
}

/* line 41, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.header {
  background-color: #EDF2EC;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 134px;
}

/* line 47, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 1220px;
}

/* line 53, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.header__logo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

/* line 57, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.header__nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* line 61, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.header__logo-text {
  font-size: 16px;
  line-height: 11px;
}

/* line 64, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.header__list-item {
  font-size: 16px;
  margin-right: 46px;
}

/* line 67, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.header__list-item:last-child {
  margin-right: 0;
}

/* line 69, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.header__list-item a {
  color: #010201;
}

/* line 71, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.header__list-item a:hover {
  color: #E06733;
}

/* line 75, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.welcome {
  background: #EDF2EC;
  min-height: 532px;
  padding-top: 63px;
}

/* line 79, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.welcome__content-container {
  min-width: 1222px;
  display: flex;
  justify-content: space-between;
}

/* line 83, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.welcome__text-container {
  width: 549px;
  height: 340px;
}

/* line 86, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.welcome__header {
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  margin-bottom: 42px;
}

/* line 91, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.welcome__text {
  max-width: 525.44px;
  color: #636060;
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 48px;
}

/* line 97, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.welcome__button {
  background-color: #EDF2EC;
  border: 2px solid #E06733;
  border-radius: 10px;
  font-size: 16px;
  width: 158px;
  height: 44px;
}

/* line 105, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.about {
  min-height: 666px;
  padding-top: 93px;
}

/* line 108, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.about__content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 112, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.about__text-container {
  width: 605px;
  height: 350px;
}

/* line 115, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.about__header {
  max-width: 463px;
  font-size: 40px;
  color: #E06733;
  margin-bottom: 40px;
}

/* line 120, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.about__text {
  line-height: 30px;
  font-size: 20px;
  color: #636060;
}

/* line 125, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.service {
  background-color: #EDF2EC;
  min-height: 1300px;
  padding-top: 40px;
}

/* line 129, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.service__header-bar {
  max-width: 1007px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}

/* line 135, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.service__header {
  font-size: 40px;
  width: 306px;
  color: #499A18;
}

/* line 139, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.service__buttons-bar {
  display: flex;
}

/* line 141, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.service__button {
  color: #E06733;
  font-size: 20px;
  background-color: #EDF2EC;
  margin-right: 38px;
}

/* line 146, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.service__button:last-child {
  margin-right: 0;
}

/* line 148, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.service__services {
  height: 955px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

/* line 154, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.service__service-card {
  width: 330px;
}

/* line 156, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.service__text-container {
  padding-top: 10px;
  width: 330px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
}

/* line 165, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.service__card-img {
  display: block;
  width: 330px;
  border-radius: 20px 20px 0px 0px;
}

/* line 169, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.service__card-header {
  color: #E06733;
  font-size: 20px;
  margin-bottom: 10px;
}

/* line 173, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.service__card-text {
  color: #717171;
  font-size: 16px;
}

/* line 177, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.prices {
  padding-top: 40px;
  min-height: 560px;
}

/* line 180, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.prices__content-container {
  height: 405px;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
}

/* line 185, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.prices__content-container img {
  align-self: flex-end;
}

/* line 187, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.prices__price-box {
  width: 332px;
  height: 391px;
  background-color: green;
}

/* line 191, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.prices__header1 {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 60px;
}

/* line 195, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.prices__header2 {
  text-align: right;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 38px;
}

/* line 200, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.prices__text-container {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  width: 459px;
  margin-bottom: 39px;
}

/* line 206, ../../../../../Users/junk/Desktop/plants/junk-debug-JSFEPRESCHOOL2022Q4/plants/sass/style.sass */
.prices__button {
  background-color: white;
  color: #E06733;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */